body{
	background-image: url("../img/pattern.jpg");
	background-repeat: repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}


li {
  float: right;
  border-right:1px solid #bbb;
  font-size: 25px;
  padding-left: 10px;

}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

h1{
	text-align: center;
}

.center-page{
	margin-left: 100px;
	margin-right: 100px;
}


footer{
	background-color: black;
	text-align: center;
	color: white;
	margin-top: 100px;
}